<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome</h1>

    <a href="/create-task"><button type="button" name="button">Create task</button></a>
    <a href="/quiz"><button type="button" name="button">Quiz</button></a>

  </body>
</html>
